@charset "utf-8";
@import "_mixin", "_var"; 

.main_visual{
    height: 100vh;min-height: 600px;
    .swiper-container { 
        height: 100%; 
        .swiper-slide{
            @include bgsize(cover); 
            background-image: no-repeat center;height: 100%;display: block;margin-left: auto;margin-right: auto;
            &.pic1{background-image: url("../images/index/1.png");}
            &.pic2{background-image: url("../images/index/2.png");}
            &.pic3{background-image: url("../images/index/3.png");}
            &.pic4{background-image: url("../images/index/4.png");}  
        }
        .controller{
            @include radius(0 27px 0 0);
            position: absolute;bottom:72px;left: calc(50% - 37px);height: 19px;width: 74px;background-color:rgba(0, 0, 0, .5);z-index: 90;

            .swiper-pagination{left: 25px;top: 0;}
            .swiper-pagination-bullet {
                width: 3px;
                height: 3px;
                background: #fff;
                opacity: 0.5;
                margin: 8px 3px;
            }
            .swiper-pagination-bullet.active{opacity: 1;}

            .autostop{background-image: url("../images/index/icon/stop.png");}
            .autoplay{background-image: url("../images/index/icon/play.png");display: none;}
            .play_stop{width: 12px;height: 12px;position: absolute;top: 3px;left: 9px;}
            .play_stop.active{display: none;}
        }
    }
}
@media
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .main_visual .swiper-wrapper .pic1 {background-image: url("../images/index/1@2x.png");}
    .main_visual .swiper-wrapper .pic2 {background-image: url("../images/index/2@2x.png");}
    .main_visual .swiper-wrapper .pic3 {background-image: url("../images/index/3@2x.png");}
    .main_visual .swiper-wrapper .pic4 {background-image: url("../images/index/4@2x.png");}
  
}
@media
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 288dpi),
screen and (min-resolution: 3dppx) {
    .main_visual .swiper-wrapper .pic1 {background-image: url("../images/index/1@3x.png");}
    .main_visual .swiper-wrapper .pic2 {background-image: url("../images/index/2@3x.png");}
    .main_visual .swiper-wrapper .pic3 {background-image: url("../images/index/3@3x.png");}
    .main_visual .swiper-wrapper .pic4 {background-image: url("../images/index/4@3x.png");}

}

//index

.exhibition{
    >.swiper-container{
        padding-bottom: 13.33333vw;
        .swiper-wrapper{
            .swiper-slide{
           text-align: center;
            }
           strong{
               position: absolute;bottom: -12.6302083vw;right: 26.4vw;display:inline-block;width: 104px;height: 18px;font-size: 12px; line-height: 18px;background-image: url("../images/index/icon/box.png");color: #fff;font-weight: 400;
           }
           img{width: 60vw;}
        }
        .silderController{height: 18px;display: inline-block;position: absolute;bottom: 15px;right: 26.4vw;z-index: 1;
            .btnGroup{
                .swiper-button-prev{left: -57.6vw;}
                .swiper-button-next{right: -9.6vw;}
                position: absolute;bottom: 0;
            }
          .swiper-pagination{font-size: 10px;width: 80px;bottom: -7px;left: -51.46666vw;}
        }
         .swiper-button-prev:after, .swiper-button-next:after{display: none;}
     }
    }
.artists{
        padding-bottom: 81px;
        >.swiper-container{
            padding-bottom: 13.33333vw;
            .swiper-wrapper{
                .swiper-slide{
               text-align: center;
                }
               strong{
                position: absolute;bottom: -12.6302083vw;right: 26.4vw;display:inline-block;width: 104px;height: 18px;font-size: 12px; line-height: 18px;background-image: url("../images/index/icon/box.png");color: #fff;font-weight: 400;
               }
               img{width: 60vw;}
            }
            .silderController{height: 18px;display: inline-block;position: absolute;bottom: 15px;right: 26.4vw;z-index: 1;
                .btnGroup{
                    .swiper-button-prev{left: -57.6vw;}
                    .swiper-button-next{right: -9.6vw;}
                    position: absolute;bottom: 0;
                }
              .swiper-pagination{font-size: 10px;width: 80px;bottom: -7px;left: -51.46666vw;}
            }
             .swiper-button-prev:after, .swiper-button-next:after{display: none;}
         }
    }