
@charset "utf-8";
@import "_mixin", "_var"; 

.top_visual{
    height: 40vh;min-height: 300px;
    .swiper-container { 
        height: 100%; 
        .swiper-slide{
            @include bgsize(cover); 
            background-image: no-repeat center;height: 100%;display: block;margin-left: auto;margin-right: auto;
            &.exPic1{background-image: url("../images/exhibition/1.png");}
            &.exPic2{background-image: url("../images/exhibition/2.png");}
            &.exPic3{background-image: url("../images/exhibition/3.png");}
            &.exPic4{background-image: url("../images/exhibition/4.png");}  
        }
        .controller{
            @include radius(0 27px 0 0);
            position: absolute;bottom:18px;left: calc(50% - 37px);height: 19px;width: 74px;background-color:rgba(0, 0, 0, .5);z-index: 90;

            .swiper-pagination{left: 25px;top: 0;}
            .swiper-pagination-bullet {
                width: 3px;
                height: 3px;
                background: #fff;
                opacity: 0.5;
                margin: 8px 3px;
            }
            .swiper-pagination-bullet.active{opacity: 1;}

            .autostop{background-image: url("../images/index/icon/stop.png");}
            .autoplay{background-image: url("../images/index/icon/play.png");display: none;}
            .play_stop{width: 12px;height: 12px;position: absolute;top: 3px;left: 9px;}
            .play_stop.active{display: none;}
        }
    }
}
@media
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .main_visual .swiper-wrapper .exPic1 {background-image: url("../images/exhibition/1@2x.png");}
    .main_visual .swiper-wrapper .exPic2 {background-image: url("../images/exhibition/2@2x.png");}
    .main_visual .swiper-wrapper .exPic3 {background-image: url("../images/exhibition/3@2x.png");}
    .main_visual .swiper-wrapper .exPic4 {background-image: url("../images/exhibition/4@2x.png");}
  
}
@media
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 288dpi),
screen and (min-resolution: 3dppx) {
    .main_visual .swiper-wrapper .exPic1 {background-image: url("../images/exhibition/1@3x.png");}
    .main_visual .swiper-wrapper .exPic2 {background-image: url("../images/exhibition/2@3x.png");}
    .main_visual .swiper-wrapper .exPic3 {background-image: url("../images/exhibition/3@3x.png");}
    .main_visual .swiper-wrapper .exPic4 {background-image: url("../images/exhibition/4@3x.png");}

}

.exOne{
    .smTit{
        display: block;padding-top: 7.22222vw;font-size: $font9;}
    .bar{position: absolute;left: 50%;margin: 3.611111vw 0 1.38888vw 0; width: 1px;height: 14.16666666666667vw;background: #000;}
    h3{padding-top: 21.11111vw;line-height: 7.5vw;font-size: 6.1vw;letter-spacing: 1.11111vw;margin-bottom: 12vw;}
    .intro{width: 100%;}
    .introP{
        @include bgsize(cover);
        font-size: $font11;line-height: 1.45455;padding: 6.11111% 8.61111%;background: url("../images/exhibition/bg1.svg") no-repeat left center;
        p{width: 42.61745%;}
        p:nth-child(1){float: left;}
        p:nth-child(2){float: right;position: relative;}
        p:nth-child(2)::after{content: "";background: url("../images/exhibition/square.png");position: absolute;bottom: -28px;right: 0;width: 28px;height: 10px;}
    }

    .swiper-container{
        width: 100%;
        .swiper-slide{position: relative;
            img{width: 100%;}
            strong{position:absolute;color: #fff;font-size: 11px;line-height: 18px;background: url("../images/exhibition/squareBk.png") no-repeat center;width: 108px;height: 18px;display: inline-block;text-align: center;font-weight: 400;margin-left: 55%;bottom: -32px; right: 20%;
            }
        }
        .silderController{
            position: relative;
            &::before{
                @include bgsize(36% auto);
                content: "";display: block;padding-top: 16.66666666666667%;background: url("../images/exhibition/bg2.svg") no-repeat right center;
            }
            .swiper-pagination{font-size: 10px;position: absolute;top: 15px;left: -20%;}
            .btnGroup{
                .smallBt{position: absolute;top: 23px;}
                .smallBt::after{display:none;}
            }
            
        }
        .two{
         .bg2{
            z-index: -6;position: absolute;right: 0;top: -86px;display: inline-block;} 
        .wave{width: 100%;}
        &::after{
            @include bgsize(50% auto);
            content: "";display: block;padding-top: 16.66666666666667%;background: url("../images/exhibition/bg3.svg") no-repeat left center;
        }
        p{color: #fff;position: absolute;top: 42%;font-size: $font12;text-align: center;padding: 0 26.6%;}
    }
    .blur{width: 100%;padding-bottom: 45px;}
    }
    .last{font-size: 3.055555555555556vw;
        .introWrap{
            @include box;
            position: absolute;left: 0;bottom: 10.63829787234043%;padding:0 5vw;width: 100%;
            .fish{width: 40%;}
            a, p{position: absolute;left: 50%;}
            a{top: 0;}
            p{bottom: 0;padding-right: 5vw;}
            
        }
    }
}
